#user(data-id=user._id.toString())= user.username
#wood= user.wood
#cash= user.cash
button#plant.button.button-rounded.button-action Plant Seed
button#getforest.button.button-rounded.button-action Get Forest
button#exchange.button.button-rounded.button-action Exchange Wood for $$$
